.gradiant {
  background: linear-gradient(135deg, #f97316, #ea580c);
}

.gradiant-text {
  background: linear-gradient(135deg, #f97316, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
